body{
    font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

ul{
    list-style: none;
}

.topbar{
    /*border: 1px solid black;*/
    font-size: 12px;
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
}

.container{
    /*border: 1px solid black;*/
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}

.container .topbar-my span,.container .topbar-my a,.container .topbar-nav a{
    padding: 11px 4px 11px 4px;
    color: #767676;
}

.container .topbar-my a:hover,.container .topbar-nav a:hover{
    color: #f40;
}

.container a i,.container span i{
    font-size: 1px;
    color: #767676;
    margin: 0px 4px 0px 4px;
}

.container .container-bg:hover,.container span:hover{
    background-color: #fff;
}

.container .topbar-nav{
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
}

.search{
    font-size: 12px;
    width: 100%;
    height: 120px;
}

.case{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 120px;
}

.icon-taobao{
    position: absolute;
    width: 186px;
    height: 120px;
}

.icon-taobao a img{
    display: block;
    margin: 31px auto;
}

.search-goods{
    /*border: 1px solid black;*/
    width: 634px;
    height: 120px;
    position: absolute;
    left: 256px;
    top: 50%;
    margin-top: -60px;
}

.search-goods ul{
    margin: 20px -24px;
}

.search-goods ul li{
    float: left;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
    margin: 0px 2px;
    color: #f40;
}

.case .search-goods ul li .focus{
    color: #fff;
    background:linear-gradient(to right,#ff9000,#ff5000);
}

.search-goods ul li:hover{
    background-color: #ffeee5;
}

.search-goods ul li:active,.search-goods ul li:visited,.search-goods ul li:focus{
    color: #fff;
    background:linear-gradient(to right,#ff9000,#ff5000);
    border-radius: 6px 6px 0px 0px;
}

.search-goods form{
    margin-top: 46px;
    height: 40px;
}

.search-goods .text{
    width: 560px;
    height: 36px;
    border: 2px solid #f40;
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
}

.search-goods .text input{
    font-size: 12px;
    color: #a5a5a5;
    letter-spacing: 1px;
    width: 460px;
    height: 36px;
    line-height: 36px;
    border:none;
    outline: none;
    background-color: transparent;
    padding: 0px 50px 0px 20px;
}

.search-goods .submit input{
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -14px;
    width: 74px;
    height: 40px;
    background: linear-gradient(to right,#ff9000,#ff5000);
    border: none;
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    font-size: 18px;
}

.search-goods .keywords a{
    float: left;
    display: block;
    margin-top: 6px;
    margin-left: 6px;
    color: #3c3c3c;
    font-size: 12px;
}

.case .qr{
    position: absolute;
    left: 1000px;
    top: 20px;
    width: 94px;
    height: 90px;
    /*border: 1px solid #eeeeee;*/
}

.case .qr .qr-close{
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #eeeeee;
}

.case .qr .qr-close .iconfont{
    font-family:"iconfont" !important;
    cursor: pointer;
    font-size: 1px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #e3e3e3;
}

.case .qr-code{
    position: absolute;
    right: 0;
    top: 0;
    width: 76px;
    height: 90px;
    border: 1px solid #eeeeee;
}

.case .qr-code a span{
    display: block;
    color: #f40;
    font-size: 12px;
    text-align: center;
    padding: 4px;
}

.nav{
    /*border: 1px solid #000000;*/
    width: 100%;
    height: 30px;
    background: linear-gradient(to right,#ff9000,#ff5000);
}

.nav-ul{
    /*border: 1px solid black;*/
    position: relative;
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}

.nav-ul span{
    display: block;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f40;
}

.nav-left{
    position: absolute;
    left: 165px;
    top: 50%;
    margin: -15px;
    background: none;
}

.nav-ul .nav-left li{
    float: left;
    margin: 0 5px 0 5px;
    padding: 0 7px 0 7px;
}

.nav-ul .nav-left li a{
    font-size: 16px;
    color:#fff;
    font-weight: bold;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
}

.nav-right{
    position: absolute;
    left: 360px;
    top: 50%;
    margin-top: -15px;
}

.nav-ul .nav-right li{
    float: left;
    margin: 0 3px 0 3px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
}

.nav-ul .nav-right li a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
}

.main{
    background-color: #eeeeee;
    width: 100%;
    height: 632px;
}

.main .main-content{
    background-color: #ff9000;
    position: relative;
    width: 1200px;
    height: 632px;
    margin: 0 auto;
}

.main .main-content .main-left{
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 0;
    width: 900px;
    height: 632px;
}

.main .main-content .main-right{
    background-color: teal;
    position: absolute;
    right: 0;
    top: 0;
    width: 290px;
    height: 622px;
    margin-top: 10px;
}

.main .main-content .main-left .sort{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #f40;
    border-top: 0;
    width: 188px;
    height: 521px;
}

.main .main-content .main-left .sort ul{
    position: absolute;
    left: -20px;
    top: -10px;
}

.main .main-content .main-left .sort ul li a{
    font-size: 14px;
    color: #666666;
    line-height: 2.3em;
}

.main .main-content .main-left .sort ul li span{
    font-size: 14px;
    color: #666666;
}

.main .main-content .main-left .sort ul li i{
    position: absolute;
    right: -20px;
    font-size: 12px;
    line-height: 2.3em;
}

.main .main-content .main-left .ad{
    background-color: wheat;
    position: absolute;
    left: 200px;
    top: 0;
    width: 700px;
    height: 522px;
}

.main .main-content .main-left .ad .ad-top1{
    background-color: yellowgreen;
    width: 526px;
    height: 280px;
    margin-top: 10px;
}

.main .main-content .main-left .ad .ad-top2{
    background-color: turquoise;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    width: 164px;
    height: 280px;
}

.main .main-content .main-left .ad .ad-bottom1{
    background-color: thistle;
    width: 526px;
    height: 222px;
    margin-top: 10px;
}

.main .main-content .main-left .ad .ad-bottom2{
    background-color: #fd0ddd;
    position: absolute;
    right: 0;
    top: 300px;
    width: 164px;
    height: 222px;
}

.main .main-content .main-left .headlines-taobao{
    background-color: violet;
    position: absolute;
    left: 0;
    top: 532px;
    width: 900px;
    height: 99px;
}